<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar> -->
<div class="header-container">
    <div class="header">
        <div class="logo">*Logo*</div>
        <div class="title">Iglesia del discipulado Cristiano</div>
        <div class="sections">
            <div class="section">Sobre nosotros</div>
            <div class="section">Eventos</div>
            <div class="section">Jovenes</div>
            <div class="section">Campamento</div>
        </div>     
    </div>
</div>
